extends ../../layouts/main

block content
  section.hello-first
    .container
      .hello-first__wrap
        .hello-first__content
          h1.title-h2.hello-first__title Ciao!<br>Хочешь изучать<br>итальянский язык с нами?
          p.text-p2.hello-first__text Сначала расскажи немного о себе!
          a(href="/hello/second").btn.hello-first__btn Вперед! 

        .hello-first__image
          img.hello-first__img(src="/img/illustration/hello-first.svg" alt="")