- const blogs = [{ name: '#Италия', img: 'italia' }, { name: '#Язык', img: 'lang' }, { name: '#Обучение', img: 'teaching' }]

section.index-blog
  .container
    +title-link('Блог', 'blog').index-blog__title
    .index-blog__list
      each blog in blogs
        +card-blog(blog.name, blog.img)