section.section
  .container
    .section__wrap
      .section__content
        h1.title-h1.section__title
          | Начни учить итальянский прямо сейчас!
        p.text-p2.section__text
          | Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.
        button.btn.btn--secondary.btn-dark.section__btn(data-popup='register')
          | Начать обучение

      .section__image
        img.section__img(src="/img/illustration/index-first.svg" alt="")