section.index-media
  .container
    +title-link('Медиатека', 'media').index-media__title
    p.text-p2.index-media__text Наша подборка полезных видео для обучения
    .index-media__list
      - for (var x = 1; x < 4; x++)
        +card-video(x)