section.section.section--gray
  .container
    .section__wrap
      .section__content
        h1.title-h1.section__title
          | Что дальше?
        p.text-p2.section__text
          | Exercitation enim non Lorem nostrud nisi commodo aliqua dolor eu tempor veniam non nisi do. Cillum sunt aliquip eu proident excepteur aute nostrud eiusmod dolore non voluptate laborum. 
        button.btn.btn--secondary.btn-dark.section__btn
          | Начать

      .section__image
        img.section__img(src="/img/illustration/index-next.svg" alt="")