section.section
  .container
    .section__wrap
      .section__image
        img.section__img(src="/img/illustration/index-presentation.svg" alt="")

      .section__content
        +title-link('Презентации', 'presentation')
        +slider(true).section__slider