section.section.section--gray
  .container
    .section__wrap
      .section__image
        img.section__img(src="/img/illustration/index-who.svg" alt="")

      .section__content
        h1.title-h1.section__title
          | Кто мы?
        p.text-p2.section__text
          | Studia.it предлагает новый подход к изучению итальянского языка!Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!<br>Мы за гибкость и интерактивность.<br><br>Хочешь узнать больше? Жми!
        button.btn.btn--wide.btn--secondary.section__btn
          | Узнать больше!