.index-grammar {
  padding: 100px 0 75px;

  @media (min-width: 768px) {
    padding: 150px 0 125px;
  }
}

.index-grammar__list {
  display: grid;
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @media (min-width: 1200px) {
    gap: 20px;
  }
}
