.index-media {
  padding: 100px 0 60px;

  @media (min-width: 768px) {
    padding: 75px 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 100px 0 75px;
  }
}

.index-media__title {
  margin-bottom: 3px;

  @media (min-width: 1200px) {
    margin-bottom: 8px;
    margin-left: 30px;
  }
}

.index-media__text {
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    margin-left: 30px;
  }
}

.index-media__list {
  display: grid;
  gap: 10px;
  margin-top: 25px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
  }
}

.index-media__list > * {
  &:nth-child(3) {
    @media (max-width: 1199px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
