.footer {
  padding: 40px 0;
  background-color: $bg;
  background-image: url('/img/illustration/footer.svg');
  background-position: bottom center;
  background-size: auto 95px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding: 40px 0 50px;
  }

  @media (min-width: 1200px) {
    background-size: auto 180px;
    padding: 40px 0 60px;
  }
}

.footer__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr 2fr;
    align-items: flex-start;
    gap: 80px;
  }
}

.footer__logo {
  justify-self: flex-start;
  margin: -5px -5px 0;
  padding: 5px;

  @media (min-width: 1200px) {
    margin: -10px -10px 0;
    padding: 10px;
  }
}

.footer__menu {
  @media (max-width: 767px) {
    grid-column: 1 / -1;
  }

  @media (min-width: 1200px) {
    margin-top: -10px;
  }
}

.footer__menu-list {
  column-count: 2;

  @media (min-width: 1200px) {
    column-count: 3;
  }
}

.footer__menu-item {
  break-inside: avoid;
  display: block;
}

.footer__menu-link {
  width: max-content;
  display: block;
  margin: -5px -5px 0;
  padding: 5px;
  transition: 0.3s all ease;

  &:hover {
    color: $primary;
  }

  @media (min-width: 1200px) {
    margin: -10px -10px 0;
    padding: 10px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.footer__btn {
  justify-self: flex-end;

  @media (max-width: 767px) {
    justify-self: flex-start;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
}

.footer__copy {
  text-align: right;
  margin-top: 50px;
  padding-top: 20px;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
}
