.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  @media (min-width: 1200px) {
    height: 80px;
  }
}

.header__logo {
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px;

  @media (min-width: 1200px) {
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
  }
}

.header__btn {
  @media (max-width: 1199px) {
    margin-top: 12px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 0 10px;

  @media (max-width: 1199px) {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 375px;
    padding: 10px 30px 20px;
    background-color: $white;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s transform ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  @media (max-width: 575px) {
    width: 280px;
  }
}

.header__menu.active {
  transform: scaleX(1);
}

.header__burger {
  margin-right: -12px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.header__menu-list {
  display: flex;
  gap: 0 4px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.header__menu-item {
  position: relative;
  display: block;
}

.header__menu-link {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid $black;
    outline-offset: 0px;
  }

  @media (max-width: 1199px) {
    margin-right: -10px;
    margin-left: -10px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 20px;
  }
}

.header__menu-link:hover + .header__menu-link-bridge,
.header__menu-link-bridge:hover {
  @media (min-width: 1200px) {
    position: absolute;
    top: 100%;
    left: -40px;
    right: -40px;
    display: block;
    height: 40px;
  }
}

.rules {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 20px;
  background-color: rgba(black, 0.2);
  opacity: 0;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
}

.header__menu-link:hover ~ .rules,
.header__menu-link-bridge:hover ~ .rules,
.rules:hover {
  @media (min-width: 1200px) {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.rules__wrap {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 320px 1fr;
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background-color: $white;
  transform: scale(0);
  transition: 0.3s;
  transition-behavior: allow-discrete;
}

.header__menu-link:hover ~ .rules .rules__wrap,
.header__menu-link-bridge:hover ~ .rules .rules__wrap,
.rules:hover .rules__wrap {
  transform: scale(1);

  @starting-style {
    transform: scale(0);
  }
}

.rules__aside,
.rules__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 100%;
  padding: 30px 40px;
  overflow: auto;
  overscroll-behavior: contain;
}

.rules__aside {
  background-color: $bg;
}

.rules__link {
  transition: 0.3s color ease;
}

.rules__link:hover {
  color: $primary;
}

.rules__item {
  display: none;
  column-count: 2;
  column-gap: 60px;
}

.rules__item.active {
  display: block;
}

.rules__item .rules__link {
  display: block;
  margin-bottom: 15px;
}
