.slider__main {
  border-radius: $radius;
}

.slider__item {
  padding: 35px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 1200px) {
    padding: 50px;
  }

  &:nth-child(odd) {
    background-color: $primary;
  }
}

.slider__img {
  display: block;
  margin: 0 auto;
}

.slider__text,
.slider__small-text {
  margin-top: 15px;

  @media (min-width: 1200px) {
    margin-top: 25px;
  }
}

.slider__navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.slider__prev,
.slider__next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  color: $black;
  border: 1px solid $black;
  background-color: $white;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    color: $white;
    background-color: $primary;
  }

  @media (min-width: 768px) {
    padding: 15px 10px;
  }

  @media (min-width: 1200px) {
    padding: 20px 15px;
  }
}

.slider__prev-icon,
.slider__next-icon {
  font-size: 20px;

  @media (min-width: 1200px) {
    font-size: 32px;
  }
}

.slider__prev {
  right: 57px;
  margin-right: -1px;
}
