.socials {
  display: flex;
  gap: 5px;

  @media (min-width: 1200px) {
    gap: 10px;
  }
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-size: 8px;
  border: 1px solid $text;
  border-radius: $radius;
  transition: 0.3s all ease;

  @media (min-width: 1200px) {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  &:hover {
    color: $primary;
    border-color: $primary;
  }
}
