.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 200px));
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.tabs__item {
  cursor: pointer;
  transition: 0.3s all ease;
}

.tabs__item.active,
.tabs__item:hover {
  color: $secondary;
}
