.tags {
  display: flex;
  gap: 8px;

  @media (min-width: 768px) {
    gap: 14px;
  }
}

.tags__item {
  color: $primary;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  padding: 5px 20px;
  border: 1px solid $primary;
  border-radius: $radius;

  @media (min-width: 768px) {
    padding: 5px 14px;
  }
}
