.card-group {
  text-align: center;
  border-radius: $radius;
  background-color: $bg;
  padding: 30px;
}

.card-group__img {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card-group__name {
  margin-bottom: 20px;
}

.card-group__title {
  font-weight: 700;
}

.card-group__btn {
  margin-top: 25px;
}

.card-group__schedule {
  margin-top: 20px;
}

.card-group__separator {
  margin: 0 auto 20px;
  height: 1px;
  width: 200px;
  background-color: #d8d8d8;
}

.card-group__schedule-time {
  margin-top: 10px;
}
