.card-message {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 51px 1fr;
  align-items: center;
  gap: 4px 15px;
  padding: 20px 52px 20px 12px;
  background-color: $bg;

  @media (min-width: 768px) {
    grid-template-columns: 87px 1fr;
    gap: 10px 60px;
    padding: 32px 170px 32px 32px;
  }
}

.card-message--open {
  background-color: #f1ffea;
}

.card-message + .card-message {
  margin-top: 10px;

  @media (min-width: 768px) {
    margin-top: 13px;
  }
}

.card-message__img {
  grid-row: span 2;
  width: 51px;

  @media (min-width: 768px) {
    width: 87px;
  }
}

.card-message__text {
  @include line-clamp(2);
}

.card-message__status {
  position: absolute;
  top: 8px;
  right: 10px;

  @media (min-width: 768px) {
    top: 20px;
    right: 36px;
    padding: 5px 15px;
    border: 1px solid $text;
    border-radius: $radius;
  }
}

.card-message--open .card-message__status {
  color: $primary;
  border-color: $primary;
}

.card-message__date {
  position: absolute;
  bottom: 8px;
  right: 10px;

  @media (min-width: 768px) {
    bottom: 20px;
    right: 36px;
  }
}
