.card-notification {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border: 1px solid #d8d8d8;
  border-radius: $radius;

  @media (min-width: 768px) {
    gap: 20px;
    padding: 20px 30px 20px 20px;
  }

  @media (min-width: 1200px) {
    gap: 25px;
    padding: 25px 40px 25px 25px;
  }
}

.card-notification__img {
  display: block;
}

.card-notification__text {
  font-size: 14px;
  line-height: 20px;

  & span {
    color: $secondary;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
