.card-offer {
  padding: 40px 20px;
  border-radius: $radius;
  background-color: $bg;

  @media (min-width: 1200px) {
    padding: 40px 30px;
  }
}

.card-offer__img {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.card-offer__title {
  max-width: 150px;
  margin-top: 10px;

  @media (min-width: 768px) {
    margin-top: 15px;
  }
}
