.card-video {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.card-video__img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: 0.3s transform ease;
  aspect-ratio: 1.6 / 1;
}

.card-video:hover .card-video__img {
  transform: scale(1.1);
}

.card-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
