$radius: 2px;

$duration: 0.3s;
$ease: ease;
$transition: $ease $duration all;

$link-scale: 0.95;

$p-y: 7px;
$p-y-lg: 14px;
$p-y-lg-mb: 9px;
$p-x: 20px;
$p-x-lg: 30px;
$p-x-lg-mb: 20px;
$p-x-wide: 56px;
$p-x-wide-mb: 36px;
