$radius: 2px;

$duration: 0.3s;
$ease: ease;
$transition: $ease $duration all;

$link-scale: 0.95;

$padding-btn: 7px 20px;
$padding-btn-lg: 14px 20px;
$padding-btn-lg-mb: 9px 30px;

$padding-select: 7px 36px 7px 20px;
