extends ../../../layouts/acc

block content
  - const faq = ['Как пользоваться Studia.it?', 'Что такое Studia.it?', 'Как повышать уровень?', 'Хочу работать у вас преподователем! Куда мне писать?', 'Забыл пароль, что делать?']

  section.faq
    .faq__header
      h1.title-h3.faq__title Поддержка пользователей
      +form-search.faq__search
      a(href='/account/faq/message').btn.btn--secondary.btn--outline.faq__btn Мои сообщения

    .faq__list
      each item, index in faq
        +card-faq(item, index + 1)