extends ../../../layouts/acc

block content
  section.faq
    .faq__header
      h1.title-h3.faq__title Поддержка пользователей
      +form-search.faq__search
      a(href='/account/faq/empty').btn.btn--outline-secondary.faq__btn FAQ

    .faq__header
      h1.title-h3.faq__title Мои сообщения
      a.btn.btn--primary.faq__btn(href='/account/faq') Новый вопрос

    .faq__list
      +card-message(false)
      +card-message(false)
      +card-message(true)
      +card-message(true)