section.matrial-single
  .container
    .matrial-single__wrap
      .matrial-single__aside
        include ../../components/material-aside
      .matrial-single__content
        img.matrial-single__img(src="/img/grammar/a1-g.svg" alt="")
        h1.title-h2.matrial-single__title A-1 Начало
        p.text-p2.matrial-single__text Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим!<br>Мы за гибкость и интерактивность.  Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.
