- const footerLinks = [{ name: 'Обучение', path: '/training' }, { name: 'Блог', path: '/blog' }, { name: 'Материалы', path: '/material' }, { name: 'О школе', path: '/about' }, { name: 'Подход к обучению', path: '/about' }, { name: 'Личный кабинет', path: '/' }, { name: 'Вход / Регистрация', path: '/' }]

footer.footer
  .container
    .footer__wrap
      .footer__first
        +logo.footer__logo
        +socials.footer__socials

      nav.footer__menu
        ul.footer__menu-list
          each link in footerLinks
            li.footer__menu-item
              a.text-p2.footer__menu-link(href=`${link.path}`)= link.name

      button.btn.btn--outline-secondary.footer__btn Написать нам

    p.text-p3.footer__copy
      | Ⓒ Start template. Use this template freely.