- const links = [{ name: 'Обучение', path: '/training' }, { name: 'Материалы', path: '/materials' }, { name: 'Грамматика', path: '/grammar' }, { name: 'Медиатека', path: '/media' }, { name: 'Презентации', path: '/presentation' }, { name: 'Блог', path: '/blog' }, { name: 'О нас', path: '/about' }]

header.header
  include ../components/logo
  .container
    .header__wrap
      +logo.header__logo

      nav.header__menu
        ul.header__menu-list
          each link in links
            li.header__menu-item
              a.header__menu-link(href=`${link.path}.html`)= link.name
          if (mode === 'development')
            li.header__menu-item
              a.header__menu-link(href='/ui.html') UI
        button.btn.btn--transparent.header__btn Войти
        button.btn.header__btn Регистрация

      button.burger.header__burger(aria-label='Menu')
        span
        span
        span
