- const themes = ['Артикль', 'Глаголы', 'Местоимения', 'Правила чтения', 'Порядок слов', 'Предлоги']

aside.material-aside
  each theme in themes
    select.material-aside__select
      option= theme
      option One
      option Two
      option Three