.curator__header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;

  @media (min-width: 576px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    margin-bottom: 32px;
  }

  @media (max-width: 359px) {
    grid-template-columns: 1fr 1fr;
  }
}

.curator__header > *:first-child {
  @media (max-width: 359px) {
    grid-column: 1 / -1;
  }
}

.curator__header > *:last-child {
  grid-column: 1 / -1;

  @media (min-width: 576px) {
    margin-left: auto;
  }
}

.curator__data {
  display: flex;
  align-items: center;
  gap: 24px;
}

.curator__data .icon-cheveron-left,
.curator__data .icon-cheveron-right {
  color: #d8d8d8;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    color: $primary;
  }
}

.curator__data-month {
  display: none;
  flex: 0 0 100px;
  justify-self: center;
}

.curator__data-month.active {
  display: block;
}
