.faq__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 15px 10px;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    gap: 15px;
    margin-bottom: 24px;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 359px) {
    grid-template-columns: 1fr;
  }
}

.faq__header + .faq__header {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 60px;
  }
}

.faq__title {
  @media (min-width: 1200px) {
    margin-right: auto;
  }

  @media (max-width: 767px) {
    grid-column: 1 / -1;
  }

  @media (max-width: 359px) {
    margin-bottom: 5px;
  }
}

.card-faq__arrow {
  margin-top: 5px;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.faq__empty {
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 60px;
  }
}

.faq__empty-img {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.faq__empty-title {
  margin-bottom: 12px;
}

.faq__empty-text {
  max-width: 300px;

  @media (min-width: 768px) {
    max-width: 400px;
  }
}

.faq__empty-btn {
  margin-top: 32px;

  @media (min-width: 786px) {
    margin-top: 40px;
  }
}
