.purchase {
}

.purchase__img {
  margin-bottom: 56px;
}

.purchase__title {
  max-width: 200px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    max-width: 500px;
    margin-bottom: 24px;
  }
}

.purchase__text {
  max-width: 320px;

  @media (min-width: 400px) {
    max-width: 350px;
  }
}

.purchase__btn {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }

  @media (min-width: 1200px) {
    margin-top: 48px;
  }
}
