#video.popup
  .popup__bg
  .popup__wrap.popup__wrap-wide
    .popup__close
    .popup__content
      h2.title-h3.popup-video__title Видео с преподавателем
        span.title-h4 Tomothy Murphy

      img(src="/img/account/video.jpg" alt="")
      h3.title-h3 О преподавателе
      p.text-p4 Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.<br><br>Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum.