aside.acc-aside
  .acc-aside__header
    +logo('/account').acc-aside__logo
    +socials('/account').acc-aside__socials

  +card-user.acc-aside__user
  .acc-aside__links
    a(href="/account/group").title-h3.link-primary.acc-aside__link
      img(src="/img/account/group.svg" alt="")
      | Груповые занятия
    a(href="/account/curators").title-h3.link-primary.acc-aside__link
      img(src="/img/account/vine.svg" alt="")
      | Преподаватели
    a(href="/account/calendar").title-h3.link-primary.acc-aside__link
      img(src="/img/account/diamond.svg" alt="")
      | Мой календарь
    a(href="/account/setting").title-h3.link-primary.acc-aside__link
      img(src="/img/account/queen.svg" alt="")
      | Настройки
    a(href="/account/faq").title-h3.link-primary.acc-aside__link
      img(src="/img/account/mail.svg" alt="")
      | Поддержка
    a(href="/").title-h3.link-primary.acc-aside__link
      img(src="/img/account/back.svg" alt="")
      | Выйти