aside.acc-aside
  .acc-aside__header
    +logo('/account').acc-aside__logo
    +socials('/account').acc-aside__socials

  +card-user.acc-aside__user
  .acc-aside__links
    a.title-h3.link-primary.acc-aside__link(href="/account/group")
      img(src="/img/account/group.svg" alt="")
      | Груповые занятия
    a.title-h3.link-primary.acc-aside__link(href="/account/curators" class=`${page === 'curators' ? 'active' : ''}`)
      img(src="/img/account/vine.svg" alt="")
      | Преподаватели
    a.title-h3.link-primary.acc-aside__link(href="/account/calendar")
      img(src="/img/account/diamond.svg" alt="")
      | Мой календарь
    a.title-h3.link-primary.acc-aside__link(href="/account/setting")
      img(src="/img/account/queen.svg" alt="")
      | Настройки
    a.title-h3.link-primary.acc-aside__link(href="/account/faq")
      img(src="/img/account/mail.svg" alt="")
      | Поддержка
    a.title-h3.link-primary.acc-aside__link(href="/")
      img(src="/img/account/back.svg" alt="")
      | Выйти