aside.acc-aside
  .acc-aside__header
    +logo('/account').acc-aside__logo
    +socials('/account').acc-aside__socials
  .acc-aside__links
    a(href="#").title-h3.link-primary.acc-aside__link Груповые занятия
    a(href="/account/curators").title-h3.link-primary.acc-aside__link Преподаватели
    a(href="#").title-h3.link-primary.acc-aside__link Мой календарь
    a(href="#").title-h3.link-primary.acc-aside__link Настройки
    a(href="#").title-h3.link-primary.acc-aside__link Поддержка
    a(href="/").title-h3.link-primary.acc-aside__link Выйти