extends ../layouts/main

block content
  include ../sections/index/first
  include ../sections/index/who
  include ../sections/index/grammar
  include ../sections/index/presentation
  include ../sections/index/next
  include ../sections/index/blog
  include ../sections/index/media