extends ../layouts/main

block variables
  - const title = 'UI'

block content
  - const icomoon = ['add-outline','add-solid','adjust','airplane','album','align-center','align-justified','align-left','align-right','anchor','announcement','apparel','arrow-down','arrow-left','arrow-outline-down','arrow-outline-left','arrow-outline-right','arrow-outline-up','arrow-right','arrow-thick-down','arrow-thick-left','arrow-thick-right','arrow-thick-up','arrow-thin-down','arrow-thin-left','arrow-thin-right','arrow-thin-up','arrow-up','artist','at-symbol','attachment','backspace','backward','backward-step','badge','battery-full','battery-half','battery-low','beverage','block','bluetooth','bolt','book-reference','bookmark','bookmarkcopy2','bookmarkcopy3','bookmark-outline','bookmark-outline-add','border-all','border-bottom','border-horizontal','border-inner','border-left','border-none','border-outer','border-right','border-top','border-vertical','box','brightness-down','brightness-up','browser-window','browser-window-new','browser-window-open','bug','buoy','calculator','calendar','camera','chart','chart-bar','chart-pie','chat-bubble-dots','checkmark','checkmark-outline','cheveron-down','cheveron-left','cheveron-outline-down','cheveron-outline-left','cheveron-outline-right','cheveron-outline-up','cheveron-right','cheveron-up','clipboard','close','close-outline','close-solid','cloud','cloud-upload','code','coffee','cog','color-palette','compose','computer-desktop','computer-laptop','conversation','copy','credit-card','currency-dollar','dashboard','date-add','dial-pad','directions','document','document-add','dots-horizontal-double','dots-horizontal-triple','download','duplicate','edit-copy','edit-crop','edit-cut','edit-pencil','education','envelope','exclamation-outline','exclamation-solid','explore','factory','fast-forward','fast-rewind','film','filter','flag','flashlight','folder','folder-outline','folder-outline-add','format-bold','format-font-size','format-italic','format-text-size','format-underline','forward','forward-step','gift','globe','hand-stop','hard-drive','headphones','heart','home','hot','hour-glass','inbox','inbox-check','inbox-download','inbox-full','indent-decrease','indent-increase','information-outline','information-solid','key','keyboard','layers','library','light-bulb','link','list','list-add','list-bullet','load-balancer','location','location-current','location-food','location-gas-station','location-hotel','location-marina','location-park','location-restroom','location-shopping','lock-closed','lock-open','map','menu','mic','minus-outline','minus-solid','mobile-devices','mood-happy-outline','mood-happy-solid','mood-neutral-outline','mood-neutral-solid','mood-sad-outline','mood-sad-solid','mouse','music-album','music-artist','music-notes','music-playlist','navigation-more','network','news-paper','notification','notifications','notifications-outline','paste','pause','pause-outline','pause-solid','pen-tool','phone','photo','php-elephant','pin','play','play-outline','playlist','plugin','portfolio','printer','pylon','question','queue','radar','radarcopy2','radio','refresh','reload','reply','reply-all','repost','save-disk','screen-full','search','send','servers','share','share-01','share-alt','shield','shopping-cart','show-sidebar','shuffle','stand-by','star-full','station','step-backward','step-forward','stethoscope','store-front','stroke-width','subdirectory-left','subdirectory-right','swap','tablet','tag','target','text-box','text-decoration','thermometer','thumbs-down','thumbs-up','ticket','time','timer','toolscopy','translate','trash','travel','travel-bus','travel-car','travel-case','travel-taxi-cab','travel-train','travel-walk','trophy','tuning','upload','usb','user','user-add','user-group','user-solid-circle','user-solid-square','vector','video-camera','view-carousel','view-column','view-hide','view-list','view-show','view-tile','volume-down','volume-mute','volume-off','volume-up','wallet','watch','window','window-new','window-open','wrench','yin-yang','zoom-in','zoom-out','facebook','instagram','youtube']

  section
    .container
      .ui
        aside.ui__aside
          a(href='#text') Text
          a(href='#avatars') Avatar
          a(href='#buttons') Buttons
          a(href='#all') All

        .ui__main
          h1.ui__title UI page

          .ui__content
            .ui__wrap.ui__fonts
              h4.ui__caption Font: Circe
              p.title-h1 Start Template
              p.title-h2 Start Template
              p.title-h3 Start Template
              p.text-p1 Start Template
              p.text-p2 Start Template
              p.text-p3 Start Template

          .ui__content
            .ui__wrap
              h4.ui__caption Icomoon
              each icon in icomoon
                i(class=`icon-${icon}`)

          .ui__content
            .ui__wrap.ui__wrap--column
              h4.ui__caption Colors
              .ui__colors
                .ui__color(style='background: #2B2B2B; color: white')
                  span $black
                  span #2B2B2B
                .ui__color(style='background: #3B3B3B; color: white')
                  span $bg
                  span #3B3B3B
                .ui__color(style='background: #858584; color: white')
                  span $text
                  span #858584
                .ui__color(style='border: 1px solid #3B3B3B')
                  span $white
                  span #FFFFFF
              .ui__colors
                .ui__color(style='background: #39b100; color: white')
                  span $primary
                  span #39b100
                .ui__color(style='background: #ef4036; color: white')
                  span $secondary
                  span #ef4036

          .ui__content
            .ui__wrap
              h4.ui__caption Button
              button.btn Main button
              button.btn.btn--primary Primary button
              button.btn.btn--secondary Secondary button
              button.btn.btn--outline-primary Primary outline
              button.btn.btn--outline-secondary Secondary outline

          .ui__content
            .ui__wrap
              h4.ui__caption Button disabled
              button.btn(disabled) Main button
              button.btn.btn--primary(disabled) Primary button
              button.btn.btn--secondary(disabled) Secondary button
              button.btn.btn--outline-primary(disabled) Primary outline
              button.btn.btn--outline-secondary(disabled) Secondary outline

          .ui__content
            .ui__wrap
              h4.ui__caption Link
              a(href='#').text-2.link-primary Link primary 
              a(href='#').text-2.link-secondary Link secondary 

          .ui__content
            .ui__wrap
              h4.ui__caption Burger
              button.burger
                span
                span
                span
          .ui__content
            .ui__wrap
              h4.ui__caption Input
              input(type='text' placeholder='Type text')
              input.input--login(type='text' placeholder='Type login')
              input.input--email(type='email' placeholder='Type email')
              input.input--password(type='password' placeholder='Type password')
              input.input--tel(type='tel' placeholder='Type phone')
              input(type='text' placeholder='Disabled input' disabled)
          .ui__content
            .ui__wrap.ui__wrap--column
              h4.ui__caption Input checkbox
              .checkbox
                input#checkbox(type='checkbox')
                label(for='checkbox') Checkbox
              .checkbox
                input#checkboxChecked(type='checkbox' checked='checked')
                label(for='checkboxChecked') Checkbox Checked
              .checkbox
                input#checkboxDisabled(type='checkbox' disabled='disabled')
                label(for='checkboxDisabled') Checkbox Disabled
          .ui__content
            .ui__wrap.ui__wrap--column
              h4.ui__caption Input radio
              .radio
                input#radio(type='radio' name='radio')
                label(for='radio') Radio One
              .radio
                input#radioChecked(type='radio' name='radio' checked='checked')
                label(for='radioChecked') Radio Two
              .radio
                input#radioDisabled(type='radio' name='radio' disabled='disabled')
                label(for='radioDisabled') Radio Disabled
          .ui__content
            .ui__wrap.ui__wrap--column
              h4.ui__caption Switches
              .radio
                input#switch(type='checkbox' role='switch')
                label(for='switch') Switch One
              .radio
                input#switchChecked(type='checkbox' role='switch' checked='checked')
                label(for='switchChecked') Switch Two
              .radio
                input#switchDisabled(type='checkbox' role='switch' disabled='disabled')
                label(for='switchDisabled') Switch Disabled
          .ui__content
            .ui__wrap.ui__wrap--column
              h4.ui__caption Select
              select
                option One
                option Two
                option Three
              select(disabled='disabled')
                option One
                option Two
                option Three
          .ui__content
            .ui__wrap
              h4.ui__caption Spinner
              .spinner.color(role='status')
