extends ../../layouts/acc

block content
  section.curator
    .curator__header
      h1.title-h3.curator__title Выберите дату занятия

      .curator__data
        .icon-cheveron-left
        p.title-h3.curator__data-month Апрель
        .icon-cheveron-right

    +calendar