extends ../../layouts/acc

block content
  section.curator
    .curator__header
      select
        option Тип преподователя
      button.btn Дата
      button.btn Время
      button.btn Мои преподаватели
    .curator__list
    - for (var x = 1; x < 7; x++)
      +card-curator(x)