extends ../../layouts/acc

block content
  section.group
    .group__header
      .group__header-btns
        .btn.btn--primary Курсы
        a(href="/account/webinars").btn.btn--outline-primary Вебинары
      select
        option Все курсы
        option Мои курсы
    .group__list
      +card-group
      +card-group
      +card-group
      +card-group