extends ../../layouts/acc

block content
  .acc-info
    .acc-info__wrap
      .info-level
        .info-level__level
          h3.title-h4.info-level__level-head Ваш уровень
          img(src="/img/grammar/a1-g.svg" alt="")
        .info-level__item
          p.text-p4.info-level__item-head Грамматика
          .info-level__progress
            img(src="/img/account/progress.svg" alt="")
            p.text-p4 68%
        .info-level__item
          p.text-p4.info-level__item-head Лексика
          .info-level__progress
            img(src="/img/account/progress.svg" alt="")
            p.text-p4 35%
      .info-test
        h3.title-h4 Хочешь узнать, как у нас классно? Пройди пробное занятие
        a(href='/account/level').btn.btn--secondary Вперед!
        img(src="/img/account/test-class.svg" alt="")


  section.acc-offers
    .acc-offers__header
      h1.title-h3.acc-offers__title Специальные предложения
      button.btn.btn--outline-secondary.acc-offers__btn Экзамен на сертификат

    .acc-offers__offers-list
      +card-offer(offers[0].title, offers[0].text, '1')
      +card-offer(offers[1].title, offers[1].text, '2')
      +card-offer(offers[2].title, offers[2].text, '3')

  section.acc-notifications
    h1.title-h3.acc-notifications__title Специальные предложения

    .acc-notifications__offers-list
      +card-notification('Анна Батьковна', '30')
      +card-notification('Анна Батьковна', '60')
      +card-notification('Анна Батьковна', '90')

  section.acc-article
    h1.title-h3.acc-article__title Последние статьи

    .acc-article__offers-list
      - for (var x = 1; x < 3; x++)
        +card-article(x)

  section.acc-video
    h1.title-h3.acc-video__title Последние видео

    .acc-video__offers-list
      - for (var x = 1; x < 3; x++)
        +card-video(x)