extends ../../layouts/acc

block content
  section.package
    .package__content
      img.package__image(src="/img/account/package.svg" alt="")
      img.package__img(src="/img/offers/item-1.svg" alt="")
      p.text-p2 В ходе классических занятий с преподавателем вы будете прорабатывать все аспекты языка: грамматику, разговор, аудирование, письменные задания, перевод. Индивидуальный подход: мы учитываем твои сильные и слабые стороны, подбираем материалы исходя из твоих потребностей и особенностей. По желанию ты можешь управлять процессом обучения: пиши в комментариях, чем бы хотелось позаниматься - так мы подготовимся заранее.
      ul.list.package__list
        li.title-h4 Полноценное обучение из дома
        li.title-h4 Гибкий график занятий
        li.title-h4 Стимул продолжать
      a(href="#").btn.btn--lg.btn--outline-primary.package__btn Подробнее
    .package__form
      +form-package