extends ../../layouts/acc

block content
  section.purchase
    img.purchase__img(src="/img/account/purchase.svg" alt="")
    h1.title-h2.purchase__title Покупка пакета «Классический» прошла успешно!
    p.text-p2.purchase__text Выбери симпатичного тебе преподавателя и удобное время для занятий.
    a(href="/account").btn.purchase__btn Продолжить 