extends ../../layouts/acc

block content
  section.group
    .group__header
      .group__header-btns
        a(href="/account/group").btn.btn--outline-primary Курсы
        .btn.btn--primary Вебинары
      select
        option Все курсы
        option Мои курсы
    .group__list
      +card-webinar
      +card-webinar
      +card-webinar
      +card-webinar