.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 50px;

  @media (min-width: 1200px) {
    height: 80px;
  }
}

.header__logo {
  margin-right: auto;
  margin-left: -10px;
  padding: 10px;

  @media (min-width: 1200px) {
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
  }
}

.header__btn {
  @media (max-width: 1199px) {
    margin-top: 12px;
  }
}

.header__menu {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
}

.header__burger {
  margin-right: -12px;
  margin-left: -12px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.header__menu-list {
  display: flex;
  gap: 0 4px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.header__menu-item {
  position: relative;
  display: block;
}

.header__menu-link {
  display: inline-block;
  padding: 10px;
  color: $black;
  font-size: 14px;
  line-height: 1.5;
  transition: 0.3s color ease;

  &:hover,
  &:focus-visible {
    color: $primary;
  }

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid $black;
    outline-offset: 0px;
  }
}

.header__menu-link:hover + .header__menu-link-bridge,
.header__menu-link-bridge:hover {
  @media (min-width: 1200px) {
    position: absolute;
    top: 100%;
    left: -40px;
    right: -40px;
    display: block;
    height: 40px;
  }
}

.header__socials {
  @media (max-width: 767px) {
    display: none;
  }
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__btns-login {
  @media (max-width: 410px) {
    display: none;
  }
}
