.rules {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 20px;
  background-color: rgba(black, 0.2);
  opacity: 0;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
}

.header__menu-link:hover ~ .rules,
.header__menu-link-bridge:hover ~ .rules,
.rules:hover {
  @media (min-width: 1200px) {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.rules__wrap {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 320px 1fr;
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background-color: $white;
  transform: scale(0);
  transition: 0.3s;
  transition-behavior: allow-discrete;
}

.header__menu-link:hover ~ .rules .rules__wrap,
.header__menu-link-bridge:hover ~ .rules .rules__wrap,
.rules:hover .rules__wrap {
  transform: scale(1);

  @starting-style {
    transform: scale(0);
  }
}

.rules__aside,
.rules__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 100%;
  padding: 30px 40px;
  overflow: auto;
  overscroll-behavior: contain;
}

.rules__aside {
  background-color: $bg;
}

.rules__link {
  transition: 0.3s color ease;
}

.rules__link:hover {
  color: $primary;
}

.rules__item {
  display: none;
  column-count: 2;
  column-gap: 60px;
}

.rules__item.active {
  display: block;
}

.rules__item .rules__link {
  display: block;
  margin-bottom: 15px;
}
