mixin card-article(img)
  .card-article
    img.card-article__img(src=`/img/article/item-${img}.jpg` alt="")
    h3.text-p2.card-article__title Ad ipsum mollit duis eiusmod nisi quis ullamco
    p.card-article__date 17 октября 20191