mixin card-blog(name, img)
  .card-blog
    img.card-blog__img(src=`/img/blog/${img}.svg` alt="")
    .card-blog__arrow
      .icon-cheveron-right.card-blog__arrow-icon
    a(href="/blog").card-blog__title-link
      h3.title-h2.card-blog__title= name