mixin card-curator(img)
  .card-curator
    img.card-curator__img(src=`/img/curator/item-${img}.jpg` alt="")
    h3.title-h4.card-curator__title Tomothy Murphy
    p.text-p2.card-curator__text Итальянец
    p.text-p4.card-curator__description Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.<br><br>Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum.
    button.btn.btn--outline.card-curator__video Посмотреть видео
    button.btn.card-curator__start Назначить занятие