mixin card-grammar(title, text, level)
  .card-grammar
    img.card-grammar__img(src=`/img/grammar/${level}.svg` alt="")
    h3.title-h2.card-grammar__title= title
    p.text-p2.card-grammar__text= text
    a(href="#").text-p2.card-grammar__link
      | Смотреть материалы
      .icon-ArrowRight.card-grammar__link-icon
    a(href="#").card-grammar__arrow
      .icon-ArrowRight.card-grammar__arrow-icon