mixin card-notification(name, time)
  .card-notification
    img.card-notification__img(src='/img/notification.svg' alt='')
    p.card-notification__text
      |  Занятие с 
      span Анна Батьковна
      |  начнется через 30 минут.