mixin card-user
  .card-user&attributes(attributes)
    img.card-user__img(src="/img/account/user.svg" alt="")
    p.title-h4.card-user__name Дмитрий Релик
    .card-user__sound.icon-notifications-outline