include ../components/burger
include ../components/socials
include ../components/card/article
include ../components/card/offer
include ../components/card/video
include ../components/card/curator
include ../components/card/notification
include ../components/card/faq
include ../components/card/message
include ../components/card/group
include ../components/card/webinar
include ../components/form/package
include ../components/form/search

block variables
  - const offers = [{ title: 'Классические занятия', text: '5 - 10 занятий', img: 'item-1' }, { title: 'Разговорные занятия', text: '5 - 30 занятий', img: 'item-2' }, { title: 'Отработка произношения', text: '3 занятия', img: 'item-3' }]


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title ? `${title} | Account` : 'Account'
    link(rel="stylesheet" href="/main.css")
    include ../utils/preload
    meta(name="description" content="Account page")
    include ../utils/og
    meta(name="theme-color" content="#000000")
  body
    .acc__header-wrap
      include ../components/header/account

    .acc
      include ../components/account/aside
      .acc-content__wrap
        block content

    //- include ../components/footer

    //- include ../components/popup/login
    //- include ../components/popup/register

    script(src="/main.js") 