include ../mixins/image
include ../mixins/input
include ../components/logo
include ../components/head
include ../components/card/grammar
include ../components/card/blog
include ../components/card/video
include ../components/card/article
include ../components/slider
include ../components/title-link
include ../components/tabs
include ../components/tags
include ../components/video

block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title ? `${title} | Start Template` : 'Start Template'
    link(rel="stylesheet" href="/main.css")
    include ../utils/preload
    meta(name="description" content="Start Template Description - test sity for develop start template")
    include ../utils/og
    meta(name="theme-color" content="#000000")
  body
    include ../components/header/main

    main
      block content

    include ../components/footer

    include ../components/popup/login
    include ../components/popup/register

    script(src="/main.js") 