section.media-videos.media-videos--bg
  .container
    .media-videos__header
      h2.title-h2.media-videos__title О итальянском языке
      p.text-p2.media-videos__text Studia.it предлагает новый подход к изучению итальянского языка!

    .media-videos__list
      each item in [6, 7, 8]
        +card-video(item)

    a(href="/media/category").btn.btn--outline.media-videos__btn Смотреть больше