section.media-video
  .container
    .media-video__wrap
      .media-video__content
        a(href="/media").media-video__back
          i.icon-ArrowLeft.media-video__back-icon
        h1.title-h2.media-video__title Италия. Летний Weekend.
        p.text-p2.media-video__text Sit ipsum nisi commodo amet ex quis minim. Id cillum irure aliquip dolore cupidatat magna Lorem officia proident non laborum do enim non. Ipsum incididunt adipisicing consequat sint ex consequat duis Lorem ipsum deserunt adipisicing officia. Dolore irure culpa ullamco
        +tags.media-video__tags

      .media-video__video
        +video