section.media-videos
  .container
    .media-videos__header
      h2.title-h2.media-videos__title О итальянской кухне
      p.text-p2.media-videos__text Studia.it предлагает новый подход к изучению итальянского языка!

    .media-videos__list
      each item in [3, 4, 5]
        +card-video(item)

    a(href="/media/category").btn.btn--outline.media-videos__btn Смотреть больше