section.media-videos.media-video--bg
  .container
    .media-videos__header
      h2.title-h2.media-videos__title О Италии
      p.text-p2.media-videos__text Studia.it предлагает новый подход к изучению итальянского языка!

    .media-videos__list
      each item in [1, 2, 2]
        +card-video(item)

    a(href="/media/category").btn.btn--lg.btn--outline-primary.media-videos__btn Смотреть больше