input[type='radio'] {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  appearance: none;
  transition: 0.3s ease;
  background-color: rgba($secondary, 0.3);

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    border-color: $primary;
    outline: none;
  }

  &:checked {
    border-color: $primary;
  }

  &:disabled {
    background-color: rgba($secondary, 0.1);
    cursor: not-allowed;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondary;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s transform ease;
  }

  &:checked::after {
    transform: translate(-50%, -50%) scale(1);
  }
}
