section.section
  .container
    .section__wrap
      .section__image
        img.section__img(src="/img/illustration/about.svg" alt="")

      .section__content
        h1.section__title О школе Studia.it
        p.section__text Studia.it предлагает новый подход к изучению итальянского языка!<br>Мы раскладываем язык по полочкам, проникаем в самую его суть и вытаскиваем из недр самое нужное.<br>Разрабатываем навыки, избавляемся от барьеров и препятствий, ищем интересное, знакомимся, общаемся и дружим! Мы за гибкость и интерактивность.<br>Хочешь узнать больше? Жми!
        button.btn.btn--wide.btn--secondary.section__btn Начать обучение
